body {
    font-size: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: column;
}

.title {
    font-family: Helvetica, sans-serif;
    font-style: italic;
}


@media (max-width: 576px) {
    /* Estilização para telas de até 576px */
}
@media (min-width: 576px) and (max-width: 768px) {
    /* Telas entre 576 e 768px */
}
@media (min-width: 768px) {
    /* Telas de computadores */
}