* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

li {
    padding: 10px 15px;
}

.container {
    width: 50%;
    margin: 0 auto;
    border: 1px solid #2C3930;
}

.padding {
    height: 5px;
    width: 0;
}

.big-padding {
    height: 15px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.italic {
    font-style: italic;
}

.item-title {
    padding: 0 10px;
    background-color: red;
    border-radius: 5px;
    font-size: large;
}

.list-style {
    list-style-type: disc;
    color: red;
    padding: 5px;
}

.list-container {
    display: flex;
    justify-content: space-evenly;
}

.list-text {
    color: black;
    font-size: large;
}

.text {
    margin: 0 10px;
    font-size: medium;
}

.small-text {
    font-size: small;
}

.title {
    margin: 0 10px;
    font-size: large;
}

.justify-right {
    text-align: right;
    margin-right: 15px;
}

@media (max-width: 576px) {
    /* Estilização para telas de até 576px */
}
@media (min-width: 576px) and (max-width: 768px) {
    /* Telas entre 576 e 768px */
}
@media (min-width: 768px) {
    /* Telas de computadores */
}